extends layout.pug

include utils.pug

block content
    .container(style="display:flex;justify-content:space-between;")
        img(src="/images/coding.svg" style="width:100px;")
        img(src="/images/student.svg" style="width:100px;")
    h2(class='py-4' style='margin: auto;width: 90%;text-align: center;') Got questions? So do we!
    h3(class='py-4' style='text-align:center;') Start filling in the gaps 
        a(href='/questions' class='btn btn-sml btn-warning mr-2') here

    div(class='mt-5 pt-5 d-flex flex-column align-items-center border-top border-warning')
        h2(class='mx-4 text-center') Here's what people are asking:
        +questionsList(questions)
        a(href='/questions' class='mb-5 btn btn-sml btn-primary mr-2') Find more!
