extends layout.pug

include utils.pug

block content
    h1(class='display-5')= question.title
    p(class='small' style='color:lightgray;')= question.createdAt
    figcaption(class="blockquote-footer")= author.username
    br
    p(class="shadow-sm p-3 mb-5 bg-white rounded")= question.body
